{% extends "base.html" %}
{% block content %}

<!--main-->
<div class="container" id="main">

  <div class="row "> 

    <div class="col-lg-9 col-md-9 timeline-content">       

      <div class="panel panel-default">

	<div class="panel-heading"> 
	  <h4> {{ timeline.name }} </h4>
	</div>

   	<div class="panel-body">

          <div class="row timeline-body-row"> 	  

	    <div class="col-md-3 col-sm-6">
	      <div class="panel panel-default">      
   		<div class="panel-body">
		  <img src="http://placehold.it/120x90/3333CC/FFF"
		       class="img-responsive img-thumbnail pull-left"/>		       
		</div>
	      </div>
	    </div>  
	  
	    <div class="col-lg-9 col-md-9"> 
	      {% for event in timeline.events %}
		<div class="panel panel-default">
		  <div class="panel-heading"> 
		    <h5> {{ event.name }} </h5>
		  </div>
   		  <div class="panel-body">
		    <a href="#">Placeholder</a>
		    <img src="http://placehold.it/120x90/3333CC/FFF"
			 class="img-responsive img-thumbnail
			 pull-right"/>		       
			 <p> {{ event.description }} </p>
			 <div class="clearfix"></div>
		  </div>
		</div> 
	      {% endfor %}
	    
	      <div class="well">
		<form class="form-horizontal" id="add-event-form" 
		      method="post" data-remote="true" role="form">
		      {{add_event_form.hidden_tag()}}
		      <h4>Add new event</h4>
		      <hr/>
		      <div class="form-group" style="padding:14px;">
			<label for="name">Name</label>
			{{add_event_form.name(class="form-control")}}
		      </div>
		      <div class="form-group" style="padding:14px;">
			<label for="description">Description</label>
			{{add_event_form.description(class="form-control", rows="3")}}
		      </div>            
		      <button class="btn btn-success pull-right"
			      id="add-event-form-submit"
			      href="#"
			      type="button">
			      Add
		      </button>
		      <ul class="list-inline"><li><a href="#"><i class="glyphicon glyphicon-align-left"></i></a></li><li><a href="#"><i class="glyphicon glyphicon-align-center"></i></a></li><li><a href="#"><i class="glyphicon glyphicon-align-right"></i></a></li></ul>	    
		</form>	      
      	        <script>	    
		  $("#add-event-form-submit").on(
		  "click", 
		  function(e) {
	          // We don"t want this to act as a link so cancel the link action
	          e.preventDefault();
                  $.post("/add_event?timeline=" + {{ timeline.id }}, 
	          $("#add-event-form").serialize(), 
	          function(data, status, xhr){
	          var delay = 200;
                  setTimeout(
	          function(){
	          alert("added event ");
	          window.location.href =
	          "/view_timeline?timeline=" + {{ timeline.id }};
                  }, 
                  delay
                  );
                  }
                  );
   	          // Stop the normal form submission
	          return false;
		  }
		  );
		</script>
	      </div> <!-- well -->
	    </div> <!-- col-lg-9 col-md-9 -->	    
	  </div>  <!--row timeline-body-row -->	
   	</div> <!--panel-body -->	
      </div> <!-- col-lg-10 col-md-10 timeline-content -->
    </div> <!-- panel panel-timeline -->

    <div class="col-lg-3 col-md-3 col-sm-6">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h3 class="panel-title">Related Timelines</h3>
	</div>
	<div class="panel-body">
	  Panel content
	</div>
      </div>
    </div>  <!-- col-lg-3 col-md-3 col-sm-6 -->

  </div> <!--/row-->
</div> <!--/main-->

{% endblock %}
