{% extends "base.html" %}
{% block content %}

<!--main-->
<div class="container" id="main">
  <div class="row level1"> 
    <div class="col-md-9">           
      <h4> {{ timeline.name }} </h4>
      <hr>
      {{ timeline.description }}
      <hr>
	<div class="row level2"> 	
	  <div class="col-md-8 col-sm-3">       
	    {% for event in timeline.events %}
              <div class="panel panel-default">
		<div class="panel-heading"> 
		  <h5> {{ event.name }} </h5>
		</div>
   		<div class="panel-body">
		  <a href="#">Placeholder</a>
		  <img src="http://placehold.it/120x90/3333CC/FFF"
		       class="img-responsive img-thumbnail
		       pull-right">		       
		    <p>event.description</p>
              <div class="clearfix"></div>
		</div>
              </div> 
	    {% endfor %}
	  </div> <!--/col-md-8 col-sm-3-->
	</div> <!--/row level1-->
    </div> <!--/col-md-9 col-sm-4-->
  </div> <!--/row level2-->
</div> <!--/main-->

{% endblock %}
